@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Varela+Round');

body {
  font-family: 'Varela Round', sans-serif;
}

.fancy-font {
  font-family: 'Fredoka One', cursive;
}

.header {
  @extend .fancy-font;
  margin-bottom: 1em;

  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {
    padding: 10em 2em 4em;
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    font-size: 120%;
    padding: 10em 2em 4em;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    font-size: 150%;
    padding: 8em 2em 4em;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    font-size: 200%;
    padding: 6em 2em 4em;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    font-size: 200%;
    padding: 6em 2em 4em;
  }
}

.footer {
  padding: 4em 2em;
  margin-top: 3em;
}

.inline-popover > div {
  display: inline;
}

.dark-cyan-text {
  color: #00acc1 !important;
}

.find-out-more-card {
  min-height: 17rem;
}